<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="https://thumbs.dreamstime.com/b/sand-hourglass-icon-isolated-white-template-your-design-165514454.jpg">
	<meta charset="utf-8">
    <title>SyncHora</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <link href="/footer.css" rel="stylesheet" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where you should come to do things
      relevant to making any kind of agenda with other people.">
  	<meta name="author" content="Kevin Matos">
	
</head>
<body>
    <h1 class="top" id="cabeza">SyncHora</h1>
    <h3>Building around everyone</h3>
    <hr>
    <div class="loader">
        <p>Load a Schedule: </p>
        <input type="number" id="code" name="code" placeholder="Schedule ID">
        <input type="submit" value="Search">
    </div>
    <div class="skedinfo">
        <p>Schedule ID: 001</p>
        <p>Schedule Name: Cal</p>
    </div>
    <div class="skedfacts">
        <p>Monday is busy.</p>
        <p>Tuesday is busy.</p>
        <p>Wednesday is free from 10:00 to 18:00.</p>
    </div>
    <footer>
        <p><a class="sender" href="home.php">Home</a> |
          <a class="sender" href="directory.html">CS 313 Assignments</a> |
          <a class="sender" href="#cabeza">Return to top</a><br>
          <a href="https://youtube.com/kevm967">
            <img src="https://i.ibb.co/6vBchr4/2019-LOGO-1.png"
              alt="KevMGamingLogo" style="vertical-align:middle" width="80" height="80" /></a>
          KevMGaming © <%= dt %></p>
      </footer>
</body>
</html>