body {
    background-color: #505050;
}

h1, h2, h3, h4 {
    color: whitesmoke;
    text-align: center;
    font-family: Palatino, "Palatino Linotype", 
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1.top {
    font-size: 4em;
    text-align: center;
    margin: 1em 0 0 0;
}

div {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.3em;
    padding: 1em;
    margin: 1em;
}

.loader {
    margin: 1em 4em;
}